<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Välkommen</h1>
    <p>
      Välkommen sötnosen min. Du sa igår att du ville ha ett litet verktyg för att få påminnelser om saker med regelbundna interval. Så jag kastade ihop en liten basic lösning för att du skulle kunna få det.
    </p>
    <h2>Tasks for <%= @date %></h2>
    <% if @tasks.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= task.name %></td>
              <td><%= task.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h2>No tasks today</h2>
    <% end %>
    <%= link_to 'Manage task schedule', tasks_path, class: 'btn btn-default' %>
  </div>
</div>
